<extend name="Layout:member_base"/>
<block name="main">

    <!-- 登录主体部分start -->
    <div class="login w990 bc mt10 regist">
        <div class="login_hd">
            <h2>用户注册</h2>
            <b></b>
        </div>
        <div class="login_bd">
            <div class="login_form fl">
                <form action="{:U()}" method="post">
                    <ul>
                        <li>
                            <label for="">用户名：</label>
                            <input type="text" class="txt" name="username" />
                            <p>3-20位字符，可由中文、字母、数字和下划线组成</p>
                        </li>
                        <li>
                            <label for="">密码：</label>
                            <input type="password" class="txt" name="password" />
                            <p>6-20位字符，可使用字母、数字和符号的组合，不建议使用纯数字、纯字母、纯符号</p>
                        </li>
                        <li>
                            <label for="">确认密码：</label>
                            <input type="password" class="txt" name="password" />
                            <p> <span>请再次输入密码</p>
                        </li>
                        <li>
                            <label for="">邮箱：</label>
                            <input type="text" class="txt" name="email" />
                            <p>邮箱必须合法</p>
                        </li>
                        <li>
                            <label for="">手机号码：</label>
                            <input type="text" class="txt" value="" name="tel" id="tel" placeholder=""/> <input type="button" onclick="bindPhoneNum(this)" id="get_telcode" value="获取验证码" style="height: 25px;padding:3px 8px"/>
                        </li>
                        <li class="checkcode">
                            <label for="">验证码：</label>
                            <input type="text"  name="tel_code" />
                        </li>

                        <li>
                            <label for="">&nbsp;</label>
                            <input type="checkbox" class="chb" checked="checked" name="agree"/> 我已阅读并同意《用户注册协议》
                        </li>
                        <li>
                            <label for="">&nbsp;</label>
                            <input type="submit" value="" class="login_btn" />
                        </li>
                    </ul>
                </form>


            </div>

            <div class="mobile fl">
                <h3>手机快速注册</h3>			
                <p>中国大陆手机用户，编辑短信 “<strong>XX</strong>”发送到：</p>
                <p><strong>1069099988</strong></p>
            </div>

        </div>
    </div>
    <!-- 登录主体部分end -->
</block>

<block name="js">
    <js href="__LAYER__/layer.js"/>
    <script type="text/javascript">
        function bindPhoneNum() {
            //启用输入框
            $('#tel_code').prop('disabled', false);
            
            layer.open({
                        type: 1,
                        title: false,
                        closeBtn: 1,
                        shadeClose: true,
                        skin: '',
                        content: '<div style="text-align: center;padding: 10px;width:340px">\
                        <table>\
                            <tr>\
                                <td colspan="2">请输入验证码</td>\
                            </tr>\
                            <tr>\
                                <td>\
                                    <input type="text" id="code" value="" style="width:8em;"/>\
                                </td>\
                                <td>\
                                    <img src="http://www.shop.com/Captcha/show" class="captcha" width="140px" style="margin-left:5em"/>\
                                </td>\
                            </tr>\
                            <tr>\
                                <td colspan="2"><input type="submit" value=" 获取验证码 " onclick="send_sms()"/></td>\
                            </tr>\
                        </table>\
                    </div>'
                    });

            var time = 60;
            var interval = setInterval(function () {
                time--;
                if (time <= 0) {
                    clearInterval(interval);
                    var html = '获取验证码';
                    $('#get_telcode').prop('disabled', false);
                } else {
                    var html = time + ' 秒后再次获取';
                    $('#get_telcode').prop('disabled', true);
                    
                }

                $('#get_telcode').val(html);
            }, 1000);
        }
        //当点击获取验证码按钮的时候,弹出layer层,禁用按钮,60秒钟后启用按钮
        
        
        
        $('.captcha').click(function(){
            $(this).attr('src','{:U("Captcha/show")}?nocache='+new Date().getTime());
        });
        
        function send_sms(){
            
        }
    </script>
</block>